
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div style="text-align:center"><h3>YENİ KATEGORİ</h3> </div>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" class="form-control" name="CategoryName" />
    <br />
    <input type="text" placeholder="Açıklama" class="form-control" name="CategoryDescription" />
    <br />
    <button class="btn btn-primary">EKLE</button>
</form>
