
@{
    Layout = null;
}

<h3> BTD Sözlük ~ Kategoriler</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Anime/Manga</td>
        <td>Shounen, AMV, Solo Leveling, Demon Slayer, Hunter x Hunter...</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Dizi</td>
        <td>Friends, Doctor Who, The Walking Dead...</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Oyun</td>
        <td>Video oyunları, FPS, MMORPG, RPG, LoL...</td>
        <td>True</td>
    </tr>
</table>